<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ProMan - Personal Portfolio HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <!-- Service Start -->
    <div class="container-fluid bg-light my-5 py-6" id="service">
      <div class="container">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
          <div class="col-lg-6">
            <h1 class="display-5 mb-0">상세 소개</h1>
          </div>
          <div class="col-lg-6 text-lg-end">
            <a
              class="btn btn-primary py-3 px-5"
              onclick="confirmAndClose()"
              a="#"
              >되돌아가기</a
            >
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div
              class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5"
            >
              <div class="bg-icon flex-shrink-0 mb-3">
                <i class="fa fa-crop-alt fa-2x text-dark"></i>
              </div>
              <div class="ms-sm-4">
                <h4 class="mb-3">학습능력</h4>
                <h6 class="mb-3">
                  Start from <span class="text-primary">$199</span>
                </h6>
                <span
                  >이해 중심으로 새로운것을 배우는 사람/ 새로운 것을 배워야만
                  하는 사람</span
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <div
              class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5"
            >
              <div class="bg-icon flex-shrink-0 mb-3">
                <i class="fa fa-code-branch fa-2x text-dark"></i>
              </div>
              <div class="ms-sm-4">
                <h4 class="mb-3">분석능력</h4>
                <h6 class="mb-3">
                  Start from <span class="text-primary">$199</span>
                </h6>
                <span
                  >백엔드 언어를 배웠으면 그걸 어떻게 활용하고 어떤것을 추가로
                  배워야 깊게 알수 있는지 생각하고 그것은 프로젝트로 향상으로
                  연결</span
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div
              class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5"
            >
              <div class="bg-icon flex-shrink-0 mb-3">
                <i class="fa fa-code fa-2x text-dark"></i>
              </div>
              <div class="ms-sm-4">
                <h4 class="mb-3">개발능력</h4>
                <h6 class="mb-3">
                  Start from <span class="text-primary">$199</span>
                </h6>
                <span
                  >node.js의 단순한 요청과 응답 그리고 데이터베이스의 극히
                  일부분만 아는 아직은 많이 미숙한 사람</span
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <div
              class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5"
            >
              <div class="bg-icon flex-shrink-0 mb-3">
                <i class="fa fa-laptop-code fa-2x text-dark"></i>
              </div>
              <div class="ms-sm-4">
                <h4 class="mb-3">기타</h4>
                <h6 class="mb-3">
                  Start from <span class="text-primary">$199</span>
                </h6>
                <span
                  >아직은 웹 백엔드에 대해서 아는게 많이 많이 적고 배워야 할게
                  많은 사람</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/typed/typed.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
  </body>
</html>
